<h1 class="title">Nêmesis</h1>

<p class="description">Ajude Hércules a salvar Euterpe. Nemêsis irratada com Euterpe, a joga em um labirinto. 
  Agora você nobre semideus tem a responsabilidade de salvar a musa da música.
  No projeto, você deve determinar o tamanho do labirinto. Logo em seguida construa o labirinto de uma
  forma em que você Hércules vá conseguir salvar a Musa Euterpe.</p>

<br />

<p class="description">{{ valueTotal }}</p>

<mat-grid-list *ngFor="let item of maze" cols="15" rowHeight="4:1" style="padding: 30px;">
  <mat-grid-tile *ngFor="let i of item">
    <mat-card [ngStyle]="{'background-color': i.color}">{{ i.text }}</mat-card>
  </mat-grid-tile>
</mat-grid-list>

<br />

<router-outlet></router-outlet>