<h1 class="title">Nêmesis</h1>

<p class="description">Ajude Hércules a salvar Euterpe. Nemêsis irratada com Euterpe, a joga em um labirinto. 
  Agora você nobre semideus tem a responsabilidade de salvar a musa da música.
  No projeto, você deve determinar o tamanho do labirinto. Logo em seguida construa o labirinto de uma
  forma em que você Hércules vá conseguir salvar a Musa Euterpe.</p>

<br />

<p class="description">[Instructions]</p>

<mat-grid-list cols="2" rowHeight="4:1" [formGroup]="tableForm">
  <mat-grid-tile>
    <mat-form-field appearance="fill">
      <mat-label>Quantas linhas?</mat-label>
      <input matInput placeholder="10" formControlName="rowValue">
    </mat-form-field>
  </mat-grid-tile>
  <mat-grid-tile>
    <mat-form-field appearance="fill" class="">
      <mat-label>Quantas colunas?</mat-label>
      <input matInput placeholder="10" formControlName="columnValue">
    </mat-form-field>
  </mat-grid-tile>
</mat-grid-list>

<router-outlet></router-outlet>